* {
    font-size: 30px;
    text-align: center;
}

#player {
    border: 3px solid blue;
}

#dealer {
    border: 3px solid green;
}

#buttons {
    border: 3px solid red;
}

#reset {
    text-align: center;
    color:grey;
}

div {
    margin: auto;
    width: 50%;
}